.carousel {
    .carousel-telao .swiper-wrapper {
        width: 100% !important;
        height: 100vh !important;
    }
    .swiper-slide {
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
    }
}
    