@font-face {
    font-family: 'Stretch Pro';
    src: url('../fonts/StretchProRegular.woff') format('woff2'),
        url('../fonts/StretchProRegular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

