.b-sidebar {
    z-index: 999;
    width: 100% !important;
    background: rgba(8, 8, 8, 0.9) !important;
    color: #fff !important;
    .close.text-dark {
        color: #fff !important;
    }

    .b-sidebar-body {
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            width: fit-content;
            margin: 0 auto;
            li {
                img {
                    width: convEm(40px, $fzSm);
                }
            }
            li a {
                font-family: 'Stretch Pro'; 
                font-weight: normal; 
                font-style: normal;
                display: block;
                color: white;
                text-align: center;
                padding: convEm(25px, $fzSm);
                text-decoration: none;
            }
        }
        .sidebar-logo {
            padding-top: convEm(15px, $fzSm);
            padding-bottom: convEm(30px, $fzSm);
        }

        .sociais {
            width: 100%;
            padding-top: convEm(50px, $fzSm);
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                width: fit-content;
                margin: 0 auto;
                li {
                    float: left;
                    img {
                        width: convEm(40px, $fzSm);
                    }
                }
                li a {
                    display: block;
                    color: white;
                    text-align: center;
                    padding: convEm(15px, $fzSm);
                    text-decoration: none;
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .b-sidebar {
        .b-sidebar-body {
            .sociais {
                width: 100%;
                ul {
                    li {
                        img {
                            width: convEm(50px, $fzSm);
                        }
                    }
                    li a {
                        padding: convEm(5px, $fzSm);
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .b-sidebar {
        .b-sidebar-body {
            ul {
                li a {
                    padding: convEm(8px, 25px);
                    font-size: 25px;
                }
            }
        }
    }
}